[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = "pytest"

[packages]
requests = "*"
pip = "*"
install = "*"
aiohttp = "*"
pandas = "*"
openpyxl = "*"
et-xmlfile = "*"

[dev-packages]
ipykernel = "*"
pytest-asyncio = "*"
pytest = "*"

[requires]
python_version = "3.11"
